@-webkit-keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes minimize {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes minimize {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

:root {
  --color-primary: cornsilk;
  --color-secondary: #724b3f;
	--text-input-bg: #ebe2d5;

  --header-height: 70px;
}

/* DEFAULT pressStart */
:focus {
  outline: none;
}

:focus-visible {
  border-radius: inherit;
  outline: 2px dashed var(--color-secondary);
}

h3 {
  font-family: 'Cyclone', sans-serif;
  font-size: clamp(1.875rem, 4vw, 2.125rem);
}

a:hover,
button:hover {
  opacity: 0.85;
}

.user-name {
  font-weight: bold;
}

.user-status {
  background: radial-gradient(red, var(--color-primary));
  border-radius: 50%;
  border: 2px solid var(--color-secondary);
  display: inline-block;
  flex-shrink: 0;
  height: 15px;
  width: 15px;
}

.user-online {
  background: radial-gradient(chartreuse, var(--color-primary));
}

.book-title {
  color: var(--color-secondary);
  font-weight: bold;
  font-style: italic;
}

/* DEFAULT gameOver */

body {
	background-color: var(--color-primary);
  color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8313rem;
	position: relative;
}

header {
  background-color: var(--color-secondary);
  box-shadow: 0 10px 20px -8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  margin-bottom: 25px;
  min-height: var(--header-height);
  padding-inline: 5vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

header :focus {
  outline: none;  
}

header :focus-visible {
  outline: 2px dashed var(--color-primary);
}

header ~ #page-content-wrapper {
  padding-top: var(--header-height);
}

header #header-left {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header #header-left #header-logo {
  font-family: 'Cyclone';
	font-size: 2.5rem;
	padding-bottom: 7px;
}

header #header-left #header-logo a {
  color: var(--color-primary);
  text-decoration: none;
}

header #header-left #menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  height: 55px;
  padding: 5px;
  width: 55px;
  transition: 0.5s all ease-in;
  z-index: 2;
}

header #header-left #menu-btn-san {
  background: var(--color-primary);
  border-radius: 8px;
  display: flex;
  height: 3px;
  justify-content: center;
  transition: all .3s ease-in-out;
  width: 20px;
}

header #header-left #menu-btn-san::before {
  background: var(--color-primary);
  border-radius: 3px;
  content: '';
  height: 3px;
  position: absolute;
  transform: translateY(-8px);
  width: 28px;
}

header #header-left #menu-btn-san::after {
  background: var(--color-primary);
  border-radius: 3px;
  content: '';
  height: 3px;
  position: absolute;
  transform: translateY(8px);
  width: 33px;
}

/* MENU-BTN ANIMATION pressStart */
header #header-left #menu-btn.open #menu-btn-san {
  background: transparent;
  box-shadow: none;
  transform: rotate(-360deg);
  transition: all 1.8s ease-out;
}

header #header-left #menu-btn.open #menu-btn-san::before {
  background: var(--color-primary);
  opacity: 0.8;
  transform: rotate(405deg);
  transition: all 1.8s ease-out;
  width: 33px;
}

header #header-left #menu-btn.open #menu-btn-san::after {
  background: var(--color-primary);
  opacity: 0.8;
  transform: rotate(-405deg);
  transition: all 1.8s ease-out;
  width: 33px;
}

header #header-left:has(#menu-btn.open) ~ #header-right {
  display: flex;
}

/* MENU-BTN ANIMATION gameOver */

header #header-right {
  display: none;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;
}

header #header-right #nav-ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

header #header-right #nav-ul li {
	display: inline-block;
  position: relative;
}

header #header-right #nav-ul li a {
	color: var(--color-primary);
  position: relative;
	text-decoration: none;
}

header #header-right #nav-ul li a::before {
  background: var(--color-primary);
  bottom: -2px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: left;
  -webkit-transition: transform 380ms ease-in-out;
  transition: transform 380ms ease-in-out;
  width: 100%;
}

header #header-right #nav-ul li a:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
} 

header #header-right #header-btns {
  display: flex;
  gap: 15px;
}

header #header-right .header-btn {
  border: 2px solid var(--color-primary);
  border-radius: 11px;
  color: var(--color-primary);
  cursor: pointer;
  padding: 3px 18px;
}

/* ! adjust somehow ? */
/* header #header-right #nav-ul li a:visited {
	color: red;
}  */

aside {
  padding-inline: 3vw;
}

main {
  align-items: start;
	display: grid;
  grid-template-rows: auto 1fr;
  /* 
  ? Set the grid-template-rows property to auto 1fr to create two rows in the grid, 
  ? with the first row set to the height of its content and the second row set to take 
  ? up the remaining space. 
  */
  margin-bottom: 25px;
}

main #controls-wrapper {
  background-color: var(--color-secondary);
  box-shadow: 0 10px 20px -8px;
  display: grid;
  height: max-content;
  max-width: 100%;
  margin-bottom: 25px;
  padding-block: 16px;
  place-items: center;
}

main #controls {
  background-color: var(--color-primary);
  border: 3px solid var(--color-primary);
  box-shadow: inset 0 -3px 15px var(--color-secondary);
  border-radius: 75px;
	display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
  margin-inline: auto;
  padding: 20px 45px;
}

main #controls #controls-top {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  gap: 25px;
}

main #controls #open-dialog-btn {
  background-color: var(--color-secondary);
  border-radius: 50%;
  border: 2px solid black;
  color: var(--color-primary);
	font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 55px;
  width: 55px;
}

main #controls #add-book-container #add-book-modal {
  background: linear-gradient(145deg, #ffffeb, #e6dfc6);
  box-shadow: 0 7px 3px -3px #724b3f, inset 0 -3px 15px #724b3f;
  border: 2px solid #724b3f;
  border-radius: 50px;
  color: var(--color-secondary);
  overflow: hidden;
  padding: 10px 25px;
  position: fixed;
  width: min(88vw, 550px);
  z-index: 1;
}

main #controls #add-book-container #add-book-modal[open] {
  display: flex;
  flex-direction: column;
  -webkit-animation: slidein 380ms cubic-bezier(0.25, 0, 0.3, 1) normal;
  animation: slidein 380ms cubic-bezier(0.25, 0, 0.3, 1) normal;
}

@media (prefers-reduced-motion: reduce) {
  main #controls #add-book-container #add-book-modal[open] {
    -webkit-animation: fadein 380ms cubic-bezier(0.5, -0.5, 0.1, 1.5) normal;
    animation: fadein 380ms cubic-bezier(0.5, -0.5, 0.1, 1.5) normal;
  }
}

main #controls #add-book-container #add-book-modal.is-hidden {
  -webkit-animation: minimize 380ms cubic-bezier(0.5, -0.5, 0.1, 1.5) normal;
  animation: minimize 380ms cubic-bezier(0.5, -0.5, 0.1, 1.5) normal;
}

@media (prefers-reduced-motion: reduce) {
  main #controls #add-book-container #add-book-modal.is-hidden {
    -webkit-animation: fadeout 380ms cubic-bezier(0.5, -0.5, 0.1, 1.5) normal;
    animation: fadeout 380ms cubic-bezier(0.5, -0.5, 0.1, 1.5) normal;
  }
}

main #controls #add-book-container #add-book-modal::backdrop {
  animation: none;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

main #controls #add-book-container #add-book-modal #top-modal {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

}

main #controls #add-book-container #add-book-modal ::placeholder {
  color: var(--color-secondary);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8313rem;
  opacity: 0.7;
  text-align: center;
  /* transform: translateY(10px); */
}

main #controls #add-book-container #add-book-modal form input:not([type='checkbox']):focus::placeholder {
  opacity: 0;
}

main #controls #add-book-container #add-book-modal .input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

main #controls #add-book-container #add-book-modal .input-label {
  display: grid;
  font-family: 'Cyclone', sans-serif;
  font-size: 1.313rem;
  /* letter-spacing: 1px; */
  padding-bottom: 3px;
}

main #controls #add-book-container #add-book-modal #modal-close-btn {
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  top: 15px;
  transition: all 333ms ease-in-out;
}

main #controls #add-book-container #add-book-modal #modal-close-btn:hover {
  transform: scale(1.1) rotate(90deg);
}

main #controls #add-book-container #add-book-modal form {
  display: grid;
  gap: 20px;
  justify-content: space-between;
  grid-template-areas: 'title title'
                      'author author'
                      'bottomModal bottomModal'
                      'book-cover book-cover'
                      'addbook addbook';
}

main #controls #add-book-container #add-book-modal form input {
  width: 100%;
}

main #controls #add-book-container #add-book-modal form #title-input {
  grid-area: title;
}

main #controls #add-book-container #add-book-modal form #author-input {
  grid-area: author;
}

main #controls #add-book-container #add-book-modal form #bottom-modal {
  display: flex;
  justify-content: center;
  gap: 50px;
  grid-area: bottomModal;
  width: 100%;
}

main #controls #add-book-container #add-book-modal form #bottom-modal #pages-input input {
  width: 100px;
}

main #controls #add-book-container #add-book-modal form #book-cover-input {
  grid-area: book-cover;
}

main #controls #add-book-container #add-book-modal form #add-book-btn {
  background-color: cornsilk;
  border-radius: 25px;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  grid-area: addbook;
  justify-self: center;
  margin-bottom: 15px;
  padding: 10px 25px;
  position: relative;
  transition: all 88ms ease-in-out;
  z-index: 1;
}

main #controls #add-book-container #add-book-modal form #add-book-btn:active {
  transform: translateY(2px);
} 

main #controls #add-book-container #add-book-modal form #add-book-btn::before {
  border-radius: inherit;
  box-shadow: 0 4px 0px -1px hsla(14, 29%, 35%, 0.8);
  content: '';
  inset: 0;
  position: absolute;
  transition: all 111ms ease-in-out;
  z-index: -1;
}

main #controls #add-book-container #add-book-modal form #add-book-btn:active::before {
  opacity: 0.3;
  transform: translateY(-3px);
}

main #controls #add-book-container #add-book-modal form input:not([type='checkbox']) {
  appearance: none;
  background: #fff8dc;
  border: 1px solid var(--color-secondary);
  border-radius: 25px;
  box-shadow: inset 6px 6px 12px #dbd5bd,
              inset -6px -6px 12px #fffffb;
  color: var(--color-secondary);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 8px 12px;
  text-align: center;
  transition: opacity 1s ease-in-out;
  /* ! ⬆️ the fuck? */
}

main #controls #add-book-container #add-book-modal form input#read {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: inset 6px 6px 12px #dbd5bd,
              inset -6px -6px 12px #fffffb;
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  display: grid;
  height: 35px;
  place-items: center;
  width: 35px;
}

main #controls #add-book-container #add-book-modal form input#read::before {
  border-radius: inherit;
  box-shadow: inset 1rem 1rem var(--color-secondary);
  content: '';
  height: 58%;
  transform: scale(0);
  transition: transform 380ms cubic-bezier(.89,.2,.08,.99);
  width: 58%;
}
/* ? Use of box-shadow instead of background-color will enable the state of the radio to be visible when printed (h/t Alvaro Montoro). */

main #controls #add-book-container #add-book-modal form input#read:checked::before {
  transform: scale(1);
}

main #controls #add-book-container #add-book-modal #cyclone-c-outline {
  position: absolute;
  bottom: 0;
  height: 700px;
  width: 700px;
  fill: #724b3f;
  opacity: 0.1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  z-index: -1;
}

main #controls #add-book-text {
	vertical-align: 5px;
} 

main #controls #search-form-container {
  position: relative;
}

main #controls #search-form {
  position: relative;
  transition: all 1s;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 5px;
}

main #controls #search-form:hover,
main #controls #search-form:focus-within,
main #controls #search-form:valid {
	background-color: var(--text-input-bg);
	border-radius: 25px;
  cursor: pointer;
  width: 200px;
}

main #controls #search-form:hover #search-input,
main #controls #search-form:valid #search-input {
  display: block;
}

main #controls #search-form:hover .fa-magnifying-glass,
main #controls #search-form:valid .fa-magnifying-glass {
  background: var(--color-secondary);
  color: var(--color-primary);
}

main #controls #search-form > #search-submit-btn {
  cursor: pointer;
}

main #controls #search-form > #search-close-btn {
  color: var(--color-secondary);
	cursor: pointer;
  font-size: 1.5rem;
	opacity: 0;
  position: absolute;
	right: -30px;
  text-align: center;
  top: 50%;
	transition: all 333ms ease-in-out;
	transform: translateY(-50%);
	visibility: hidden;
}

main #controls #search-form:valid > #search-close-btn {
	opacity: 1;
	visibility: visible;
}

main #controls #search-form:valid > #search-close-btn:hover {
	transform: translateY(-50%) scale(1.1) rotate(90deg);
}

main #controls #search-form #search-input {
  background: transparent;
  border-radius: 25px;
  border: 0;
  display: none;
  font-size: 1em;
  height: 42.5px;
  left: 0;
  line-height: 30px;
  outline: 0;
  padding: 0 50px 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

/* clears the ‘X’ from Internet Explorer */
main #controls #search-form #search-input::-ms-clear { display: none; width : 0; height: 0; }
main #controls #search-form #search-input::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
main #controls #search-form #search-input::-webkit-search-decoration,
main #controls #search-form #search-input::-webkit-search-cancel-button,
main #controls #search-form #search-input::-webkit-search-results-button,
main #controls #search-form #search-input::-webkit-search-results-decoration { display: none; }

main #controls #search-form .fa-magnifying-glass {
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--color-secondary);
  font-size: 1rem;
  height: 38px;
  padding: 10px;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1s;
  width: 38px;
}

main #controls #sort-select-container {
  align-self: center;
}

main #controls .custom-select {
	border-radius: 25px;
	position: relative;
	width: 125px;
}

main #controls .custom-select select {
	display: none;
}

main #controls .select-selected {
  background-color: var(--color-secondary);
  border-radius: 25px;
  border: 2px solid black;
  color: var(--color-primary);
  display: grid;
  height: 48px;
  place-items: center;
}

/* ? Style the arrow inside the select element: */
main #controls .select-selected:after {
  border-color: #fff transparent transparent transparent;
  border: 6px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 8px;
  top: 25px;
  width: 0;
}

/* ? Point the arrow upwards when the select box is open (active): */
main #controls .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 15px;
}

main #controls .select-items {
	border-radius: 25px;
}

/* ? Style the items (options), including the selected item: */
main #controls .select-items li,
main #controls .select-selected {
	color: #ffffff;
  cursor: pointer;
	list-style: none;
  padding: 12px 16px;
  text-align: center;
}

main #controls .select-items li {
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}

main #controls .select-items li:last-child {
	border: none;
}

main #controls .select-arrow-active {
	border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
	border-radius: 25px 25px 0 0;
}

/* ? Style items (options): */
main #controls .select-items {
  background-color: var(--color-secondary);
  border-radius: 0 0px 25px 25px;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}

/* ? Hide the items when the select box is closed: */
main #controls .select-hide {
  display: none;
}

main #controls .select-items div:hover, 
main #controls .same-as-selected {
  background-color: rgba(0, 0, 0, 0.3);
}

main #controls .select-items li:last-child {
	border-radius: 0 0 25px 25px;
}

main {
  height: 100%;
}

main #bookcase {
  align-self: start;
  background-color: var(--color-primary);
  box-shadow: inset 5px 5px 9px #d4ceb7,
              inset -5px -5px 9px #ffffff;
  display: grid;
  gap: 25px;
  grid-auto-rows: minmax(175px, auto);
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  min-height: 225px;
  padding-block: 25px;
  padding-inline: 3vw;
}

main #bookcase .book-card {
  /* border: 2px solid #724b3f; */
  background: linear-gradient(145deg, #ffffeb, #e6dfc6);
  border-radius: 25px;
  box-shadow:  5px 5px 12px #a8a491,
              -5px -5px 12px #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  min-width: 275px;
  padding: 15px 25px;
}

main #bookcase .book-card .book-info {
  font-weight: bold;
}

main #bookcase .description-wrapper {
  display: grid;
  /* gap: 10px; */
  grid-template-columns: 1fr 2fr;
  place-items: center;
}

main #bookcase .description-wrapper .bookcase-cover-img-wrapper {
  border: 2px solid #724b3f;
  border-radius: 15px;
}

main #bookcase .description-wrapper .bookcase-cover-img {
  border-radius: inherit;
}

main #bookcase .description-wrapper .bookcase-title {
  font-size: 1.125rem;
}

main #bookcase .description-wrapper .bookcase-author-name {
  font-style: italic;
}

main #bookcase .description-list {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  padding: 10px;
} 

main #bookcase .description-term {
  font-family: 'Cyclone', monospace;
  font-size: 1.688rem;
  line-height: 1;
  padding-bottom: 3px;
  /* font-weight: bold; */
}

main #bookcase .description {
  text-align: right;
}

main #bookcase .book-card .bottom-book-card-div {
  display: grid;
  column-gap: 25px;
  row-gap: 10px;
  grid-template-areas:  'unreadBtn removeBtn'
                        'dateAdded dateAdded';
}

main #bookcase .book-card .book-card-btn {
  background-color: #724b3f;
  border: 2px solid black;
  border-radius: 25px;
  color: cornsilk;
  cursor: pointer;
  padding: 5px 15px;
}

main #bookcase .book-card .book-card-btn:first-of-type {
  grid-area: unreadBtn;
}

main #bookcase .book-card .book-card-btn:nth-of-type(2) {
  grid-area: removeBtn;
}

main #bookcase .book-card .date-added-div {
  grid-area: dateAdded;
  text-align: right;
}

aside section {
  border-radius: 55px;
  box-shadow:  7px 7px 11px #dbd5bd,
              -7px -7px 11px #fffffb;
  margin-bottom: 25px;
  padding: 20px 30px;
  position: relative;
}

aside section:hover h3::before {
  transform: scaleX(0.5);
}

aside section h3 {
  /* border: 2px solid red; */
  margin-bottom: 15px;
  padding-bottom: 3px;
  position: relative;
  /* text-align: center; */
  z-index: 0;
}

aside section h3::before {
  content: '';
  bottom: 5px;
  border-radius:30%;
  left: -3px;
  height: 2px;
  position: absolute;
  background: linear-gradient(to left, transparent, var(--color-secondary));
  width: 100%;
  transform: scaleX(1);
  transform-origin: left;
  transition: all 380ms ease-in-out;
  z-index: -1;
} 

aside ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

aside #notifications #notifications-list .notification-link {
  color: var(--color-secondary);
  align-items: top;
  display: flex;
  gap: 8px;
  text-decoration: none;
}

aside #advertisement-box video {
  border-radius: 25px;
  object-fit: contain;
}

aside #friends #friends-list .friends-list-li {
  align-items: top;
  display: flex;
  gap: 8px;
}

aside #trending #trending-list .trending-list-li a {
  align-items: center;
  display: flex;
  gap: 8px;
  text-decoration: none;
}

aside #socials {
  display: grid;
  grid-template-rows: auto 1fr;
}

aside #socials #socials-icons {
  align-self: center;
  background: #fff8dc;
  border-radius: 50px;
  box-shadow: inset 15px 15px 23px #c9c4ae,
            inset -15px -15px 23px #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-block: 25px;
}

aside #socials #socials-icons .socials-icon {
  align-items: center;
  background: linear-gradient(145deg, #ffffeb, #e6dfc6);
  border-radius: 50%;
  box-shadow:  6px 6px 10px #a8a491,
              -6px -6px 10px #ffffff;
  display: grid;
  height: 55px;
  justify-content: center;
  transition: all 380ms ease-in-out;
  width: 55px;
}

aside #socials #socials-icons .socials-icon:hover {
  transform: rotate(8deg);
}

aside #socials #socials-icons .socials-icon a {
  border-radius: inherit;
  /* color: var(--color-secondary); */
  padding: 25px;
  position: relative;
}

aside #socials #socials-icons .socials-icon svg {
  color: var(--color-secondary);
  /* font-size: 3rem; */
  left: 50%;
  height: min(30px, 5vw);
  width: min(30px, 5vw);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* before footer settings */
footer {
    background: linear-gradient(to top, var(--color-secondary), var(--color-primary));

  /* box-shadow: 0 -10px 20px -8px var(--color-secondary); */
  color: var(--color-primary);
}

footer h3 {
  margin-bottom: 10px;
  text-align: center;
}

footer #subscribe-links-header {
  color: var(--color-secondary);
}

footer #footer-top-wrapper {
  align-items: top;
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
  max-width: 1700px;
  padding-block: 25px;  
  padding-inline: 5vw;
  justify-content: center;
}

footer #sign-up-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}

footer #email {
  appearance: none;
  background: #fff8dc;
  border: 2px solid var(--color-secondary);
  border-radius: 25px;
  box-shadow: inset 6px 6px 12px #dbd5bd,
            inset -6px -6px 12px #fffffb;
  color: var(--color-secondary);
  flex: 1;
  max-width: 375px;
  padding: 10px 15px;
}

footer #email::placeholder {
  color: hsla(14, 29%, 35%, 0.7);
}

footer #email::-ms-input-placeholder {
  color: hsla(14, 29%, 35%, 0.7);
}

footer #email:-ms-input-placeholder {
  color: hsla(14, 29%, 35%, 0.7);
}

footer #sign-up-btn {
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  box-shadow: inset 0 7px 7px var(--color-primary);
  color: var(--color-secondary);
  padding-inline: 15px;
  position: relative;
  transition: all 88ms ease-in-out;
  z-index: 1;
}

footer #sign-up-btn:active {
  transform: translateY(2px);
} 

footer #sign-up-btn::before {
  border-radius: inherit;
  box-shadow: 0 4px 0px -1px var(--color-secondary);
  content: '';
  inset: 0;
  position: absolute;
  transition: all 111ms ease-in-out;
  z-index: -1;
}

footer #sign-up-btn:active::before {
  opacity: 0.3;
  transform: translateY(-3px);
}

footer #subscribe {
  margin-bottom: 50px;
}

footer #subscribe-text-content {
  text-align: center;
  text-shadow: 0 0 3px var(--color-secondary);
}

footer #subscribe-text-content p:not(:last-child) {
  margin-bottom: 8px;
}

footer #footer-logo {
  align-items: center;
  display: grid;
  grid-template-areas: 'text'
                        'logo';
  padding-bottom: 10px;
  place-items: center;
  justify-content: center;
}

footer #footer-logo:hover p:first-of-type {
  opacity: 0;
  transform: translateY(-18px) scale(0);
  visibility: hidden;
}

footer #footer-logo:hover p:not(:first-of-type) {
  opacity: 1;
  transform: translateY(-18px) scale(1.5);
  visibility: visible;
}

footer #footer-logo:hover a {
  transform: translateY(-10px) scale(1.5);
}

footer #footer-logo p {
  color: var(--color-primary);
  font-family: 'pixeBoy', sans-serif;
  font-size: 1rem;
  grid-area: text;
  /* text-shadow: 0 0 8px var(--color-secondary); */
  transition: opacity 380ms ease-in-out, transform 0.555s ease-in-out, visibility 0.555s ease-in-out;
}

footer #footer-logo p:not(:first-of-type) {
  transform: translateY(0) scale(0);
  transition: opacity 380ms ease-in-out, transform 0.555s ease-in-out, visibility 0.555s ease-in-out;
  visibility: hidden;
}

footer #footer-logo a {
  grid-area: logo;
  transition: all 0.555s ease-in-out;
  width: min(11vw, 58px);
}

footer #footer-links-header {
  text-shadow: 0 0 3px var(--color-secondary);
}

footer #footer-links {
  margin-bottom: 25px;
}

footer #footer-links ul {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  place-items: center;
}

footer #footer-links ul li {
  width: max-content;
}

footer #footer-links a {
  color: var(--color-primary);
  text-decoration: none;
  text-shadow: 0 0 3px var(--color-secondary);
}

@media only screen and (min-width: 768px) {
  header {
    align-items: center;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  header #header-left #menu-btn {
    display: none;
  }

  header #header-right {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 0;
    justify-content: space-between;
  }

  header #header-right #nav-ul {
    flex-direction: row;
  }

  #page-content-wrapper {
    display: grid;
    align-items: start;
    gap: 25px;
    margin-bottom: 50px;
    padding-inline: 3vw;
  }

  main #controls-wrapper {
    background-color: unset;
    box-shadow: unset;
    margin-bottom: unset;
  }

  main #controls {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;   
    justify-content: space-between;
    width: 100%;
  }

  main #controls #search-form {
    border-radius: 25px;
    /* width: 200px; */
  }

  main #controls #search-form:hover, 
  main #controls #search-form:valid {
    width: 300px;
  }

  main #bookcase {
    border-radius: 50px;
    padding-inline: 25px;
  }

  aside {
    border-radius: 55px;
    box-shadow:  7px 7px 11px #dbd5bd,
                -7px -7px 11px #fffffb;
    display: grid;
    grid-template-areas:
    'notifications friends'
    'trending advertisement'
    'socials socials';
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: unset;
  }

  aside #notifications {
    grid-area: notifications;
  }

  aside #friends {
    grid-area: friends;
  }

  aside #advertisement {
    grid-area: advertisement;
  }

  aside #trending {
    grid-area: trending;
  }

  aside #socials {
    grid-area: socials;
  }

  aside section {
    background: unset;
    border-radius: unset;
    box-shadow:  unset;
  }

  footer #footer-top-wrapper {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
  }

  footer #subscribe {
    margin-bottom: unset;
  }

  footer #footer-links ul {
    gap: 15px;
    grid-template-columns: 1fr;
  }

  footer #footer-links-header {
    color: var(--color-secondary);
    text-shadow: none;
  }
}

@media only screen and (min-width: 1024px) {
  #page-content-wrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1fr;
    margin-inline: auto;
    max-width: 1700px;
  }

  main {
    margin-bottom: 0;
  }

  main #controls {
    /* justify-self: start; */
    margin-inline: unset;
    width: 100%;
  }

  main #controls #search-form {
    width: 55px;
  }

  /* ! adjust so maybe sort button shrinks while valid? */
  main #controls #search-form:hover, 
  main #controls #search-form:valid {
    width: 180px;
  }

  main #bookcase {
    max-height: 100%;
  }
  
  aside {
    background: unset;
    border-radius: unset;
    box-shadow:  unset;
    grid-template-areas: 'notifications' 'friends' 'trending' 'advertisement' 'socials';
    grid-template-columns: 1fr;
    padding-top: 25px;
  }

  aside section {
    background: var(--color-primary);
    border-radius: 55px;
    box-shadow:  7px 7px 11px #dbd5bd,
                -7px -7px 11px #fffffb;
  }

  aside section:last-of-type {
    margin-bottom: 0;
  }

  footer #footer-top-wrapper {
    gap: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  main #controls #search-form:hover, 
  main #controls #search-form:valid {
    width: 315px;
  }

  footer #footer-top-wrapper {
    gap: 150px;
  }

  footer #footer-links ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1400px) {
  #page-content-wrapper {
    gap: 75px;
  }
}