:root {
  --header-height: 70px;
	--input-focus-bg: hsla(14, 29%, 35%, 0.3);
}

/* DEFAULT pressStart */
h3 {
  font-family: 'Cyclone', sans-serif;
  font-size: clamp(1.875rem, 4vw, 2.125rem);
}

/* DEFAULT gameOver */

body {
	/* background-color: #f5f5f5; */
	background-color: cornsilk;
  color: #724b3f;
	display: flex;
	flex-direction: column;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position: relative;
}

header {
  background-color: #724b3f;
  box-shadow: 0 10px 20px -8px;
	display: flex;
  flex-direction: column;
	justify-content: space-between;
	margin-bottom: 25px;
  min-height: var(--header-height);
  padding-inline: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header ~ #page-content-wrapper {
  padding-top: var(--header-height);
}

header #header-left {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header #header-left #header-logo {
  color: white;
	font-family: 'Cyclone';
	font-size: 2.5rem;
	padding-bottom: 7px;
}

header #header-left #menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  height: 55px;
  padding: 5px;
  width: 55px;
  transition: 0.5s all ease-in;
  z-index: 2;
}

header #header-left #menu-btn-san {
  background: white;
  border-radius: 8px;
  display: flex;
  height: 3px;
  justify-content: center;
  transition: all .3s ease-in-out;
  width: 20px;
}

header #header-left #menu-btn-san::before {
  background: white;
  border-radius: 3px;
  content: '';
  height: 3px;
  position: absolute;
  transform: translateY(-8px);
  width: 28px;
}

header #header-left #menu-btn-san::after {
  background: white;
  border-radius: 3px;
  content: '';
  height: 3px;
  position: absolute;
  transform: translateY(8px);
  width: 33px;
}

/* MENU-BTN ANIMATION pressStart */
header #header-left #menu-btn.open #menu-btn-san {
  background: transparent;
  box-shadow: none;
  transform: rotate(-360deg);
  transition: all 1.8s ease-out;
}

header #header-left #menu-btn.open #menu-btn-san::before {
  background: white;
  opacity: 0.8;
  transform: rotate(405deg);
  transition: all 1.8s ease-out;
  width: 33px;
}

header #header-left #menu-btn.open #menu-btn-san::after {
  background: white;
  opacity: 0.8;
  transform: rotate(-405deg);
  transition: all 1.8s ease-out;
  width: 33px;
}

header #header-left:has(#menu-btn.open) ~ #header-right {
  display: flex;
}

header #header-left #menu-btn.open~nav a {
  font-size: 2rem;
  letter-spacing: 1.8px;
}
/* MENU-BTN ANIMATION gameOver */

header #header-right {
  display: none;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;
}

header #header-right #nav-ul {
	display: flex;
  flex-direction: column;
  gap: 1rem;
	font-size: 1rem;
	list-style: none;
}

header #header-right #nav-ul li {
	display: inline-block;
  position: relative;
}

header #header-right #nav-ul li a {
	color: white;
  position: relative;
	text-decoration: none;
}

header #header-right #nav-ul li a::before {
  background: white;
  bottom: -2px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: left;
  -webkit-transition: transform 380ms ease-in-out;
  transition: transform 380ms ease-in-out;
  width: 100%;
}

header #header-right #nav-ul li a:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
} 

header #header-right #header-btns {
  display: flex;
  gap: 15px;
}

header #header-right .header-btn {
  border: 2px solid white;
  border-radius: 11px;
  color: white;
  cursor: pointer;
  padding: 3px 18px;
}

/* ! adjust somehow ? */
/* header #header-right #nav-ul li a:visited {
	color: red;
}  */

#page-content-wrapper #book-case,
#page-content-wrapper aside {
  padding-inline: 5vw
}

main {
  align-items: start;
	display: grid;
  grid-template-rows: auto 1fr;
  /* 
  ? Set the grid-template-rows property to auto 1fr to create two rows in the grid, 
  ? with the first row set to the height of its content and the second row set to take 
  ? up the remaining space. 
  */
  margin-bottom: 25px;
}

main #controls-wrapper {
  background-color: #724b3f;
  box-shadow: 0 10px 20px -8px;
  display: grid;
  height: max-content;
  max-width: 100%;
  padding-block: 16px;
  place-items: center;
}

main #controls {
  background-color: cornsilk;
  border: 3px solid cornsilk;
  box-shadow: inset 0 -3px 15px #724b3f;
  border-radius: 75px;
	display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
  margin-inline: auto;
  padding: 20px 45px;
}

main #controls #controls-top {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  gap: 25px;
}

main #controls #add-book-button {
  background-color: #724b3f;
  border-radius: 50%;
  border: 2px solid black;
  color: white;
	font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 55px;
  width: 55px;
}

main #controls #add-book-text {
	vertical-align: 5px;
} 

main #controls #search-form-container {
  position: relative;
}

main #controls #search-form {
  position: relative;
  transition: all 1s;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 5px;
}

main #controls #search-form:hover,
main #controls #search-form:valid {
	background-color: var(--input-focus-bg);
	border-radius: 25px;
  cursor: pointer;
  width: 200px;
}

main #controls #search-form:hover #search-input,
main #controls #search-form:valid #search-input {
  display: block;
}

main #controls #search-form:hover .fa-magnifying-glass,
main #controls #search-form:valid .fa-magnifying-glass {
  background: #724b3f;
  color: white;
}

main #controls #search-form > #search-submit-btn {
  cursor: pointer;
}

main #controls #search-form > #search-close-btn {
  color: #724b3f;
	cursor: pointer;
  font-size: 1.5rem;
	opacity: 0;
  position: absolute;
	right: -30px;
  text-align: center;
  top: 50%;
	transition: all 333ms ease-in-out;
	transform: translateY(-50%);
	visibility: hidden;
}

main #controls #search-form:valid > #search-close-btn {
	opacity: 1;
	visibility: visible;
}

main #controls #search-form:valid > #search-close-btn:hover {
	transform: translateY(-50%) scale(1.1) rotate(90deg);
}

main #controls #search-form #search-input {
  background: transparent;
  border-radius: 25px;
  border: 0;
  display: none;
  font-size: 1em;
  height: 42.5px;
  left: 0;
  line-height: 30px;
  outline: 0;
  padding: 0 50px 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

/* clears the ‘X’ from Internet Explorer */
main #controls #search-form #search-input::-ms-clear { display: none; width : 0; height: 0; }
main #controls #search-form #search-input::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
main #controls #search-form #search-input::-webkit-search-decoration,
main #controls #search-form #search-input::-webkit-search-cancel-button,
main #controls #search-form #search-input::-webkit-search-results-button,
main #controls #search-form #search-input::-webkit-search-results-decoration { display: none; }

main #controls #search-form .fa-magnifying-glass {
  border-radius: 50%;
  box-sizing: border-box;
  color: #724b3f;
  font-size: 1rem;
  height: 38px;
  padding: 10px;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1s;
  width: 38px;
}

main #controls #sort-select-container {
  align-self: center;
}

main #controls .custom-select {
	border-radius: 25px;
	position: relative;
	width: 158px;
}

main #controls .custom-select select {
	display: none;
}

main #controls .select-selected {
  background-color: #724b3f;
  border-radius: 25px;
  border: 2px solid black;
  color: white;
  display: grid;
  height: 55px;
  place-items: center;
}

/* ? Style the arrow inside the select element: */
main #controls .select-selected:after {
  border-color: #fff transparent transparent transparent;
  border: 6px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 10px;
  top: 25px;
  width: 0;
}

/* ? Point the arrow upwards when the select box is open (active): */
main #controls .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 15px;
}

main #controls .select-items {
	border-radius: 25px;
}

/* ? Style the items (options), including the selected item: */
main #controls .select-items li,
main #controls .select-selected {
	color: #ffffff;
  cursor: pointer;
	list-style: none;
  padding: 12px 16px;
  text-align: center;
}

main #controls .select-items li {
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}

main #controls .select-items li:last-child {
	border: none;
}

main #controls .select-arrow-active {
	border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;
	border-radius: 25px 25px 0 0;
}

/* ? Style items (options): */
main #controls .select-items {
  background-color: #724b3f;
  border-radius: 0 0px 25px 25px;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}

/* ? Hide the items when the select box is closed: */
main #controls .select-hide {
  display: none;
}

main #controls .select-items div:hover, 
main #controls .same-as-selected {
  background-color: rgba(0, 0, 0, 0.3);
}

main #controls .select-items li:last-child {
	border-radius: 0 0 25px 25px;
}

main #book-case {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-auto-rows: minmax(250px, auto);
}

main #book-case .book {
  border: 1px solid red;
  border-radius: 50px;
}

/* article {
	border: 2px solid red;
	border-radius: 12px;
}
*/

aside {
  font-size: clamp(0.8313rem, 1.3vw, 1rem);
}

aside section {
  background: linear-gradient(145deg, #e6dfc6, #ffffeb);
  box-shadow:  7px 7px 46px #ada996,
              -7px -7px 46px #ffffff;
  border-radius: 25px;
  margin-bottom: 25px;
  padding: 25px 25px;
}

aside section:hover h3::before {
  transform: scaleX(0.5);
}

aside section h3 {
  /* border: 2px solid red; */
  margin-bottom: 15px;
  padding-bottom: 3px;
  position: relative;
  /* text-align: center; */
  z-index: 0;
}

aside section h3::before {
  content: '';
  bottom: 5px;
  border-radius:30%;
  left: -3px;
  height: 2px;
  position: absolute;
  background: linear-gradient(to left, transparent, #724b3f);
  width: 100%;
  transform: scaleX(1);
  transform-origin: left;
  transition: all 380ms ease-in-out;
  z-index: -1;
} 

aside ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

aside #notifications #notifications-list li {
  align-items: center;
  display: flex;
  gap: 8px;

}

aside #advertisement-box video {
  border-radius: 25px;
  object-fit: contain;
}

aside li {
  width: max-content;
}

.iconic {
  display: inline-block;
}


@media only screen and (min-width: 768px) {
  header {
    align-items: center;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  header #header-left #menu-btn {
    display: none;
  }

  header #header-right {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 0;
    justify-content: space-between;
  }

  header #header-right #nav-ul {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    gap: 1rem;
    list-style: none;
  }

  main #controls-wrapper {
    background-color: unset;
    box-shadow: unset;
  }

  main #controls {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;   
    justify-content: space-between;
    width: 100%;
  }

  main #controls #search-form {
    border-radius: 25px;
    /* width: 200px; */
  }

  main #controls #search-form:hover, 
  main #controls #search-form:valid {
    width: 300px;
  }

  #page-content-wrapper {
    display: grid;
    align-items: start;
    /* gap: 40px; */
    padding-inline: 3vw;
  }

  main #book-case {
    background-color: cornsilk;
    border-radius: 50px;
    box-shadow: inset 5px 5px 9px #d4ceb7,
              inset -5px -5px 9px #ffffff;
  }
}

@media only screen and (min-width: 1024px) {
  #page-content-wrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: 5fr 2fr;
  }

  #page-content-wrapper #book-case,
  #page-content-wrapper aside {
    padding-inline: unset;
  }

  main {
    margin-bottom: 0;
  }

  main #controls {
    /* justify-self: start; */
    margin-inline: unset;
    width: 100%;
  }

  main #controls #search-form {
    width: 55px;
  }

  main #controls #search-form:hover, 
  main #controls #search-form:valid {
    width: 210px;
  }

  aside {
    padding-top: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  main #controls #search-form:hover, 
  main #controls #search-form:valid {
    width: 315px;
  }
}